@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&family=Unica+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  margin: 0;
  padding: 0;
}

.customShadow {
  box-shadow: 5px 5px #dac0a3;
}

.customShadow2 {
  box-shadow: -16px -16px #dac0a3;
}
